elpa/*
*.dat
smex-items
auto-save-list/*
*~
.cabal-sandbox/*
cabal.sandbox.config
#*#
/games/
*~
*.elc
/org-init.html
/org-init.pdf
/org-init.tex
/bookmarks
eshell/
/gganley/#keybindings.el#
/.python-environments/
/tramp
irony/*

