/auto-save-list
elpa/*
*~
/savefile/
/eshell/
recentf
.emacs.desktop
url/
flycheck_init.el
.bookmarks.el
.emacs-custom.el
.emacs.desktop.lock
notes.org
org/
projectile-bookmarks.eld
cider-history.clj
configuration.el
.DS_Store
.projectile
projectile.cache
.python-environments/
custom.el
.cask/
smex-items
ede-projects.el
.emacs-directory
.mc-lists.el
magithub/
.projectile-bookmarks
dotemacs.el
history
transient/
var/
straight/
org-clock-save.el
