/auto-save-list
/elpa/
*~
/savefile/
/eshell/
recentf
.emacs.desktop
url/
flycheck_init.el
.bookmarks.el
.emacs-custom.el
.emacs.desktop.lock
notes.org
org/
projectile-bookmarks.eld
cider-history.clj
configuration.el
